@import 'tailwindcss';
:root {
  --background: #f8f9fa;
  --foreground: #000000;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family:
    system-ui, Roboto, 'Helvetica Neue', 'Lato', 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', sans-serif !important;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 2s ease-in-out;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.fortune-read-only > div {
  margin-top: 0 !important;
}

.fortune-stat-area {
  display: none !important;
}
